:root{
  --left-color: #DD0031;
  --right-color: #C3002F;
  --letter: #C3002F;
  --left-side: polygon(50% 0%, 50% 100%, 8% 73%, 0% 25%);
  --right-side: polygon(50% 0%, 100% 25%, 92% 73%, 50% 100%);
  --from: #1453AC;
  --to: #3E9EEF;
}
*{
  padding: 0;
  margin: 0;
}
body{
  background-image: linear-gradient(to bottom right, var(--from), var(--to));
  background-repeat: no-repeat;
  height: 95vh;
}
h1{
  text-align: center;
  margin-top: 5vh;
  color: var(--letter);
  text-transform: capitalize;
  text-shadow: -2px 2px black;
  font-family: 'Josefin Sans', sans-serif;
}
.box{
  position: relative;
  width: 500px;
  height: 500px;
  display: box;
  margin: 8% auto auto auto;
}
.left{
  position: absolute;
  width: 70%;
  height: 80%;
  left: 15%;
  top: 10%;
  background-color: var(--left-color);
  clip-path: var(--left-side);
    z-index: 1;
}
.right{
  position: absolute;
  width: 70%;
  height: 80%;
  right: 15%;
  top: 10%;
  background-color: var(--right-color);
  clip-path: var(--right-side);
    z-index: 1;
}
.letter{
  position: absolute;
  width: 70%;
  height: 70%;
  left: 10%;
  top: 15%;
  left: 18%;
  color: white;
  font-size: 20em;
  z-index: 2;
  font-family: 'Josefin Sans', sans-serif;
}
