* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway';
  background-color: rgb(150, 240, 232);
}

p {
  margin-top: 2vh;
  text-transform: capitalize;
  font-size: 25px;
  text-align: center;
  color: black;
  font-weight: 600;
  text-shadow: 2px 2px grey;
}

.box {
  position: relative;
  width: 600px;
  height: 500px;
  display: box;
  margin: 3% auto auto auto;
  border: 1px solid black;
}
.bug{
  position: absolute;
  width: 70%;
  height: 40%;
  bottom: 10%;
  left: 0;
  border: 1px solid red;
  z-index: -2;
}
.head{
  position: absolute;
  width: 20%;
  height: 40%;
  left: 5%;
  top: 40%;
  background: black;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}
.antenna{
  position: absolute;
  width: 5px;
  height: 70%;
  top: -40%;
  background: black;
  transform: rotate(-55deg);
  -webkit-transform: rotate(-55deg);
  -moz-transform: rotate(-55deg);
  -ms-transform: rotate(-55deg);
  -o-transform: rotate(-55deg);
}


@media all and (max-width:600px) {
  .box {
    height: 400px;
    width: 300px;
  }
 
}