:root {
  --blue: #34495E;
  --green: #41B883;
  --background: lightgrey;
  --triangle: polygon(50% 100%, 0 0, 100% 0);
  --from: #39A27A;
  --to: #37495F;
  --text: #2c3e50;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to bottom, var(--from), var(--to));
  background-repeat: no-repeat;
  height: 95vh;
}

p {
  margin-top: 5vh;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: var(--text);
  font-size: 3em;
}

.box {
  position: relative;
  width: 500px;
  height: 450px;
  display: box;
  margin: 8% auto auto auto;
  background: var(--body);
}

.green {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--green);
  clip-path: var(--triangle);
}

.blue {
  position: absolute;
  width: 65%;
  height: 65%;
  left: 17.5%;
  background: var(--blue);
  clip-path: var(--triangle);
}

.white {
  position: absolute;
  width: 50%;
  height: 45%;
  left: 25%;
  background: white;
  clip-path: var(--triangle);
}

@media all and (max-width:510px) {
  .box {
    width: 300px;
    height: 250px;
    display: box;
  }

  p {
    font-size: 2em;
  }
}
